
.img{
    scale: 0.8;
    position: relative;
    left: .5em;
}

.bg{
    background-color: rgb(10, 11, 39);
}
.bg1{
    background-color: aliceblue;
    color: aliceblue;
}
.banner{
    width: 100%;
}
@media (max-width:765px) {
    .banner{
        position:relative;
        top: 30px;
    }
}

.dd{
    background-color:rgb(229, 63, 39);
    color: white;
}
.dd1{
    background-color:rgb(229, 63, 39);
    color: white;
    border-bottom: 4px solid rgb(10, 11, 39);
}
.rotatediv{
    height: 842px;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
      justify-content: center;
      align-items: center; 
    
}
#rotateimg{
    position: absolute;
    height: 30.875em;
    width: 11.875em;
    z-index: 0;
    transition-duration: 1s;
}
@media (max-width:768px) {
    #rotateimg{
        height: 15.875em;
    width: 6.875em;
    }
}

.fiztext {
    z-index: 1;
    font-size: 5em;
    font-weight: 700;
    font-family: "Roboto Serif", serif;
    white-space: nowrap; /* Prevent wrapping by default */
    overflow: hidden; /* Hide overflowing content */
    text-overflow: ellipsis; /* Add ellipsis for overflowing text */
    transition-duration: .5s;
  }

  @media (max-width: 768px) { /* md breakpoint */
    .fiztext {
        position: relative;
        left: 40px;
        width: 230px;
        height: 100px;
      white-space: normal; /* Allow text to wrap */
      display: block; /* Ensure block display for wrapping */
      font-size: 2em;
    }
  }

.textdiv{
    height: 842px;
    padding: 120px;
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
    font-size: 24px;
    
}
@media (max-width: 768px) { /* md breakpoint */
    .textdiv {
        height: 95vh;
       padding: 30px;
    }
  }

  @media (max-width: 429px) { /* md breakpoint */
    .textdiv {
        height: 120vh;
       padding: 30px;
    }
  }
.f1{
    height: 234px;
    padding: 50px;
    background-color: rgb(255, 255, 255);
}
.footer-blocks{
    text-align: left;
    font-size: 14px;
    height: 100%;
    background-color: white;
}
a{
    text-decoration: none;
    font-weight:bold;
    color: black;
}
p{
    padding-bottom: 10px;
    margin: 0;
}
.p1{
    line-height: 1;
}